body {

    height: 95.6vh;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

form {
    display: flex;
    width: 50%;
    height: 50%;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    align-content: center;
}