body {
    width: 100%;
    height: 95vh;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

#voltar {
    display: flex;
    position: absolute;
    bottom: 10px;
}